$primary-color: #267abf;
$focus-color: #fff;
$placeholder-color: rgba(
  $color: #ccc,
  $alpha: 0.4,
);

$card-text-color: rgba(
  $color: #ccc,
  $alpha: 0.8,
);
$error-color: #bf263c;
$btn-cvv-size: 70px;
$btn-cvv-size-sm: 55px;
$keyboard-color: rgb(235, 235, 235);
$arrow: 20px;
$arrow-sm: 16px;
